input {
    display: block;
    margin-bottom: 5px;
    padding: 10px;
    width: 200px;
    border: 2px solid blue;
}

input:focus {
    outline: none;
}

button {
    padding: 10px;
    width: 100px;
    border: none;
    cursor: pointer;
}

.forms p {
    color: red;
    margin-top: 0;
    font-weight: bold;
}

.forms .createAccount {
    color: black;
}

.eyeSign {
    position: absolute;
    left: 200px;
    top: 247px;
}

.eyeSign2 {
    position: absolute;
    left: 200px;
    top: 292px;  
}

.eyeLogin {
    position: absolute;
    left: 200px;
    top: 203px;
}

.eyeSign:hover, .eyeSign2:hover, .eyeLogin:hover {
    cursor: pointer;
    color: grey;
}