input {
    display: block;
    margin-bottom: 5px;
    padding: 10px;
    width: 200px;
    border: 2px solid blue;
}

input:focus {
    outline: none;
}

button {
    padding: 10px;
    width: 100px;
    border: none;
    cursor: pointer;
}

.forms p {
    color: red;
    margin-top: 0;
    font-weight: bold;
}

.forms .createAccount {
    color: black;
}
.password, .password2 {
    height: 44px;
}
.password .eyeSign {
    position: relative;
    left: 200px ;
    bottom: 35px;
}

.password2 .eyeSign2 {
    position: relative;
    left: 200px;
    bottom: 35px;
}

.eyeLogin {
    position: relative;
    left: 200px;
    bottom: 35px;
}

.password .eyeSign:hover, .password2 .eyeSign2:hover, .eyeLogin:hover {
    cursor: pointer;
    color: grey;
}